html{
  height: 100%;
}

.headerFooter{
  /*background-color: #264d73;*/
  background-color: #000;
  width: 100%;
  height: 150px;
}

body{
   text-align: center;
   background-color: #fff;
}

h1{
  padding-top: 75px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-family: 'Encode Sans Condensed', sans-serif;
}

footer{
  line-height: 12;
  color: #cbcbcb;
}

.dyk{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  font-size: 30px;
  color: black;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.social{
  text-align: center;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  padding: 5px;

}
